<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>ClipShare</strong> is inspired by <a href="https://zerotomastery.io">zerotomastery.io</a> Rust programming course.
        </p>
    </div>
</footer>
